<h1>Bewertung</h1>
<form  class="ui form" [formGroup]="myForm" (ngSubmit)="submitForm()">
  <input type="hidden" name="id">

  <div class="field">
    <label>Kommentar</label>
    <textarea formControlName="comment" rows="3" maxlength="200"></textarea>
    <!--<div *ngIf="errors.title" class="ui negative message"> {{ errors.title }} </div>-->
  </div>

  <div class="field">
    <label>Bewertung</label>
    <select formControlName="stars">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <div *ngIf="errors.stars" class="ui negative message">{{ errors.stars }}</div>
  </div>

  <!--<div class="field">
    <label>Erscheinungsdatum</label>
    <input type="date" useValueAsDate formControlName="published">
  </div>-->

  <button type="submit" class="ui button" [disabled]="myForm.invalid">Bewerten</button>
</form>