<div class="ui container">
    <h3>Flourish und Blotts - die Zauberbuchhandlung</h3>

    <div class="content">Hier findest Du alle Bücher aus dem Potter-Universum! Mach Dich auf nach Hogwarts mit Harry,
        Ron und Hermine, besuche Hagrid in seiner Hütte, lerne für die ZAGs, lausche Dumbledore bei seinen Reden,
        empfange Post von Hedwig – und hüte Dich vor dem verbotenen Wald. Und vor dem, dessen Name nicht genannt werden
        darf...
    </div>

    <h4>Willkommen in der magischen Buchwelt von Harry Potter!
    </h4>


    <div class="ui section divider"></div>


    <a routerLink="../books" class="ui red button">Bücherliste
        <i class="right arrow icon"></i></a>
</div>